body
{
	background-color: #cff;
}

header
{
	padding-top: 20px;
}

header img
{
	background-color: #fff;
	padding: 1em;
}

section
{
	background-color: #fff;
	font-size: 120%;
	margin-top: 1em;
	padding: 20px;
}

section h1
{
	font-size: 200%;
}

footer
{
	margin-top: 10px;
	text-align: center;
	
}

footer nav
{
	float: none;
}

.container
{
	width: 700px;
}

/* links */

a
{
	color: #09c;
	text-decoration: none;
}

a:hover
{
	color: #069;
	text-decoration: underline;
}

a:visited
{
	color: #069;
}

/* navigation */

nav
{
	background-color: white;
	float: right;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li
{
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a
{
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited
{
	color: #09c;
}

/* Sign Up Button */

a.signup_button
{
	background-color: #006400;
	color: #fff;
	display: block;
	font: 150% bold;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-align: center;
	width: 190px;
}

/* Esquinas redondeadas */

.round
{
	border-radius: 10px;
}

/* User show page */

table.profile
{
	width: 100%;
	margin-bottom: 0;
}

td.main
{
	width: 70%;
	padding: 1em;
}

td.sidebar
{
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}

.profile img.gravatar
{
	border: 1px solid #999;
	margin-bottom: -15px;
}

/* Sign up form */

div.field, div.actions
{
  margin-bottom: 10px;
}

/* Error messages */

.field_with_errors
{
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label
{
	color: #fff;
}

#error_explanation
{
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2
{
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p
{
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li
{
	font-size: 12px;
	list-style: square;
}